/* Add CSS Styling */
.odd-number {
    background-color: #f57ba3;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#number-2 {
    color: rgb(99, 99, 230);
    font-size: 36px;
}

.number-3 {
    font-size: 24px;
}

#number-4 {
    background-color: hsla(120, 73%, 75%, 0.959);
    font-size: 24px;
    font-weight: bold;
}